{% extends 'galeria/base.html' %}
{% load static %}

    {% block content %}
    <main class="principal">
        <h2>CARDÁPIO</h2>

        <!-- PRATOS DO CARDÁPIO -->
        {% for info in cards %}
        <div class="cardapio-item">
            <img src="{% static '/assets/img/pratos/' %}{{info.foto}}" alt="refeicao">
            <div class="cardapio-item-detalhes">
                <h3>{{ info.nome }}</h3>
                <p>{{ info.descricao }}</p>
                <p>Peso: {{ info.peso }}g | Calorias: {{ info.calorias }}kcal | Carboidratos: {{ info.carbo }}g | Gorduras: {{ info.gorduras }}g | Proteínas: {{ info.proteinas }}g</p>
                <div class="cardapio-subitem">
                    <p class="flex-items">R$ {{ info.valor }}</p>

                    <!-- <div class="input-group">
                        <button id="decrement">-</button>
                        <input type="number" id="input" value="0" readonly>
                        <button id="increment">+</button>
                    </div> -->
                    
                    <div class="quantity buttons_added">
	                    <input id="decrement" type="button" value="-" class="minus">
                        <input id="input" type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" readonly>
                        <input id="increment" type="button" value="+" class="plus">
                    </div>

                    <img class="flex-items" src="{% static '/assets/favicon/adicionar-ao-carrinho.png' %}">
                </div>
            </div>
        </div>
        {% endfor %}

    </main>

    <span>
        <img src="{% static '/assets/img/obj_lateral_10_pimenta.png' %}" class="obj_lateral_10_pimenta" alt="pimenta">
        <img src="{% static '/assets/img/obj_lateral_11_limao.png' %}" class="obj_lateral_10_limao" alt="limao">
    </span>

    <!-- SEÇÃO NOSSOS DIFERENCIAIS -->
    <section class="sobre" id="sobre">
        <h2>NOSSOS DIFERENCIAIS</h2>

        <div class="sobre-items">
            <img src="{% static '/assets/img/desenho_maos.png' %}" alt="Cozinheira">

            <p>A excelência do Urucum se destaca desde a seleção minuciosa dos ingredientes. Ao invés de nos contentarmos
                com opções convencionais, primamos pelo uso de ingredientes cuidadosamente escolhidos, reafirmando assim
                nosso compromisso inabalável com a qualidade, elemento essencial em nossa proposta gastronômica.
                Nossa equipe de chefs é composta por profissionais talentosos e apaixonados, empenhados em transformar
                ingredientes aparentemente simples em verdadeiras obras-primas culinárias. Cada prato congelado é
                meticulosamente concebido com a intenção de proporcionar uma experiência sensorial completa. Buscamos
                inovação ao combinar texturas e sabores de maneiras surpreendentes, mesmo para os paladares mais exigentes.
                No Urucum, acreditamos que a culinária vai além da simples alimentação; é uma celebração da arte e do
                prazer gastronômico. Estamos dedicados a surpreender e encantar nossos clientes, elevando a experiência
                culinária a novos patamares de sabor e sofisticação.</p>
        </div>
    </section>


    {% endblock %}
