{% extends 'galeria/base.html' %}
{% load static %}

    {% block content %}
    <main id="pratos" class="principal">
        <h2>ÁREA DO CLIENTE</h2>




    </main>

     <section class="sobre" id="sobre">
        <h2>QUEM SOMOS</h2>

        <div class="sobre-items">
            <img src="{% static '/assets/img/desenho_coz.png' %}" alt="Cozinheira">

            <p>Prazer, somos a Urucum! Uma empresa que pensa que comer comida boa e sem crueldade animal pode ser
                gostoso e não precisa ser caro. Dispensamos cópias de pratos não-veganos porque há quem diga que só de
                Feijoada Vegana e Bobó de Palmito não vive o ser humano. Urucum não é apenas um restaurante vegano de
                comida congelada; é uma experiência culinária que transcende as expectativas, oferecendo uma abordagem
                inovadora, sustentável e deliciosa à alimentação vegana. Seja para variar seu cardápio ao longo da
                semana, começar a consumir menos produtos animais ou só ficar na segunda sem carne mesmo, estamos aqui
                para fornecer comida sempre fresquinha, colorida e caseira!
                Temos um cardápio que visa fornecer tudo que seu corpo precisa para cair fora dessa falácia que precisa
                comer carne para viver bem e ser saudável. Proteína? Temos! Fibras? Temos! Entrega para Centro, Zona Sul
                e arredores? Também temos! </p>
        </div>
    </section>


    {% endblock %}
